<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671682979243-eehs4t7icrtu7sihk7fjf3hme1m0k6vl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671682979243-eehs4t7icrtu7sihk7fjf3hme1m0k6vl</string>
	<key>API_KEY</key>
	<string>AIzaSyAf4ltYfd_6fVOmBMeAIOJkKtvFYiT3u-0</string>
	<key>GCM_SENDER_ID</key>
	<string>671682979243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.com.edu.itss.managementApp</string>
	<key>PROJECT_ID</key>
	<string>management-flutter-app</string>
	<key>STORAGE_BUCKET</key>
	<string>management-flutter-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671682979243:ios:a46edd91581506d7661eee</string>
</dict>
</plist>